.span-1 {
  width: 110px;
}

.span-2 {
  width: 243px;
}

.span-3 {
  width: 376px;
}

.span-4 {
  width: 510px;
}

.span-5 {
  width: 643px;
}

.span-6 {
  width: 776px;
}

.span-7 {
  width: 909px;
}

.span-8 {
  width: 1043px;
}

.span-9 {
  width: 1176px;
}

.offset-1 {
  margin-left: 133px;
}

.offset-2 {
  margin-left: 267px;
}

.offset-3 {
  margin-left: 400px;
}

.offset-4 {
  margin-left: 533px;
}

.offset-5 {
  margin-left: 666px;
}

.offset-6 {
  margin-left: 800px;
}

.offset-7 {
  margin-left: 933px;
}

.offset-8 {
  margin-left: 1066px;
}

